{% extends 'header.html' %}

{% block body %}
  <div class="container my-5">
    <h1 class="text-md-center mb-4">Project List</h1>
    <div class="d-flex justify-content-sm-center justify-content-md-end mb-4 btn-group-sm">
      <a href="?status=available" class="btn btn-outline-primary me-2">Available</a>
      <a href="?status=finished" class="btn btn-outline-success me-2">Finished</a>
      <a href="?" class="btn btn-outline-danger">Clear Filters</a>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for project in projects %}
        <div class="col">
          <div class="card h-100 shadow">
            <div class="card-body">
              {% if project.status == 'finished' %}
                <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-success">Finished</span>
              {% endif %}
              <h5 class="card-title">{{ project.name }}</h5>
              <p class="card-text">Supervisor: {{ project.supervisor.user.username }}</p>
              <p class="card-text">
                Other Supervisors:{% for supervisor in project.student.all %}
                  {{ supervisor.user.username }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
              </p>
              <p class="card-text">Unit Coordinator: {{ project.unit_coordinator.user.username }}</p>
              <!-- Add other fields as needed -->
              {% comment %}add dates{% endcomment %}
              <small>
                <p class="mb-0">Start Date: {{ project.start_date }}</p>
                <p class="mb-0">End Date: {{ project.end_date }}</p>
              </small>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if is_paginated %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Previous</span>
            </li>
          {% endif %}
          {% for page_num in paginator.page_range %}
            {% if page_obj.number == page_num %}
              <li class="page-item active">
                <span class="page-link">{{ page_num }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link">Next</span>
            </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock %}
