{% extends 'header.html' %}
{% block body %}
  <div class="container">
    <h1 class="text-md-center mb-4">Application</h1>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Application ID: {{ application.thesis_apply_id }}</h5>
        <p class="card-text">Project Name: {{ application.project.name }}</p>
        <p class="card-text">Supervisor Name: {{ application.project.supervisor.user.username }}</p>
        <p class="card-text">
          Group Name:
          {% if application.applied_students.first.user.groups.exists %}
            {{ application.applied_students.first.user.groups.first.name }}
          {% else %}
              No group assigned.
          {% endif %}
      </p>
        <p class="card-text">Message: {{ application.message }}</p>
        <!-- Loop over the applied students -->
        {% for student in application.applied_students.all %}
        <div class="mb-2">
          <h5 class="card-title">Student Details</h5>
          <p class="card-text">Student Name: {{ student.user.username }}</p>
          <p class="card-text">Student Email: {{ student.user.email }}</p>
          <p class="card-text">CV:
            {% if student.cv %}
              <a href="{{ student.cv.url }}" target="_blank">View CV</a>
            {% else %}
              No CV uploaded.
            {% endif %}
          </p>
        </div>
        {% endfor %}
        <p class="card-text">Status:
          {% if application.status == 'Pending' %}
            <span class="badge bg-warning text-dark">{{ application.status }}</span>
          {% elif application.status == 'Approved' %}
            <span class="badge bg-success">{{ application.status }}</span>
          {% else %}
            <span class="badge bg-danger">{{ application.status }}</span>
          {% endif %}
        </p>
        <p class="card-text">Terms Accepted:
          <input type="checkbox" readonly {% if application.terms_accepted %}checked{% endif %}>
        </p>
        <p class="card-text">Supervisor Checked:
          <input type="checkbox" readonly {% if application.supervisor_checked %}checked{% endif %}>
        </p>
        <p class="card-text">Supervisor Approval:
          <input type="checkbox" readonly {% if application.supervisor_approval %}checked{% endif %}>
        </p>
        {% if request.session.account_type == 'supervisor' %}
          <a href="{% url 'approve_application_supervisor' application.thesis_apply_id %}" class="btn btn-success">Approve</a>
          <a href="{% url 'reject_application_supervisor' application.thesis_apply_id %}" class="btn btn-danger">Disapprove</a>
        {% endif %}
        <a href="{% url 'applications' %}" class="btn btn-primary">Back</a>
      </div>
    </div>
  </div>
{% endblock body %}