{% extends 'layout/app.html' %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'project_list' %}">Projects</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated %}
            {% if request.session.account_type == 'supervisor' or request.session.account_type == 'unit_coordinator' %}
              <li class="nav-item">
                <a class="nav-link" href="">Applications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Add Project</a>
              </li>
              {% if request.session.account_type == 'supervisor' %}
                <li class="nav-item">
                  <a class="nav-link" href="">My Projects</a>
                </li>
              {% endif %}
            {% endif %}
            <li class="nav-item">
              <a class="nav-link disabled">
                Welcome,
                {{ request.user.username }}
              </a>
            </li>
            {% comment %}add a vartical bar{% endcomment %}
            <div class="vr d-none d-md-block"></div>

            <li>
              <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div style="padding-top: 70px">
    {% block body %}

    {% endblock %}
  </div>
{% endblock %}
