{% extends 'layout/app.html' %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'project_list' %}">Projects</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if request.user.is_authenticated and not request.user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Messages <span class="badge bg-danger">{{ new_messages_count }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" style="max-height: 200px; overflow-y: auto;" aria-labelledby="navbarDropdown">
              {% for conversation in conversations %}
                <li><a class="dropdown-item" href="{% url 'conversation' conversation.conversation_id %}">{{ conversation.title }}</a></li>
              {% empty %}
                <li><a class="dropdown-item" href="#">No conversations</a></li>
              {% endfor %}
            </ul>
          </li>
          {% if request.session.account_type == 'supervisor'%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'applications' %}">Applications</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'create_project' %}">Create Project</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'my_projects' %}">My Projects</a>
              </li>
              {% endif %}
              {% if request.session.account_type == 'unit_coordinator' %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'pending_projects' %}">Pending Projects</a>
              </li>
              {% endif %}
            <li class="nav-item">
              <a class="nav-link disabled">
                Welcome,
                {{ request.user.username }}
              </a>
            </li>
            {% comment %}add a vartical bar{% endcomment %}
            <div class="vr d-none d-md-block"></div>

            <li>
              <a class="nav-link text-danger" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              {% if request.session.account_type == 'student' %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div style="padding-top: 70px">
    {% block body %}

    {% endblock %}
  </div>
{% endblock %}
