{% extends 'layout/app.html' %}

{% block content %}
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-8">
          <div class="card shadow">
            <div class="card-body">
              <h1 class="text-center mb-4">Register</h1>

              <!-- Display error messages -->
              {% if messages %}
                <div class="alert alert-danger">
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </div>
              {% endif %}

              <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Group Name and Password fields -->
                <div class="mb-3">
                  <label for="group_name" class="form-label">Group Name</label>
                  <input type="text" class="form-control" id="group_name" name="group_name" required />
                </div>
                <div id="studentForm" class="row">
                  <!-- Student forms will be here -->
                </div>
                <button type="button" id="addStudent" class="btn btn-warning mt-3">Add student</button>
                <button type="submit" class="btn btn-primary mt-3">Register</button>
                <a href="{% url 'login' %}" class="btn btn-gray mt-3">Login</a>
                <a href="{% url 'register_admin' %}" class="btn btn-gray mt-3">Admin Registration</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
        function generateStudentForm(index) {
          return `
            <div class="student col-12 col-md-6" id="student${index}">
              <div class="card mt-4">
                <div class="card-body">
                  <h2 class="card-title">Student ${index}</h2>
                  <div class="form-group">
                    <input type="text" class="form-control" id="username${index}" name="username${index}" placeholder="Username*" required />
                  </div>
                  <div class="form-group mt-2">
                    <input type="password" class="form-control" id="password${index}" name="password${index}" placeholder="Password*" required />
                  </div>
                  <div class="form-group mt-2">
                    <input type="text" class="form-control" id="address${index}" name="address${index}"
                    placeholder="Address"/>
                  </div>
                  <div class="form-group mt-2">
                    <label for="cv${index}" class="form-label">CV </label>
                    <input type="file" class="form-control-file" id="cv${index}" name="cv${index}"
                    placeholder="Upload CV*"
                    required />
                  </div>
                  ${index > 3 ? '<button type="button" class="btn btn-danger mt-3 removeStudent">Remove</button>' : ''}
                </div>
              </div>
            </div>
          `;
        }

        for (let i = 1; i <= 3; i++) {
          $('#studentForm').append(generateStudentForm(i));
        }

        $('#addStudent').click(function() {
          let studentCount = $('.student').length;
          $('#studentForm').append(generateStudentForm(studentCount + 1));
        });

        $('#studentForm').on('click', '.removeStudent', function() {
          $(this).closest('.student').remove();
        });
      });
    </script>
{% endblock %}