{% extends 'layout/app.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="card shadow">
          <div class="card-body">
            <h1 class="text-center mb-4">Register</h1>
            <form method="post" action="{% url 'register' %}">
              {% csrf_token %}

              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}

              <div class="mb-3">
                <label for="account_type" class="form-label">Account Type</label>
                <select class="form-select" id="account_type" name="account_type" required>
                  <option selected disabled>Choose...</option>
                  <option value="student">Student</option>
                  <option value="supervisor">Supervisor</option>
                  <option value="unit_coordinator">Unit Coordinator</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required />
              </div>
              <div class="mb-3">
                <label for="username" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required />
              </div>
              <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                <input type="password" class="form-control" id="password1" name="password1" required />
              </div>
              <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" required />
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
              <a href="{% url 'login' %}" class="btn btn-gray">Login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
